.wrapper {
    display: flex;
    justify-content: center;
    width: 522px;
    gap: 12px;
    margin: 0 auto;
}

.string {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 120px 0 0 0;
    list-style: none;
    gap: 48px 16px;
    max-width: 944px;
    flex-wrap: wrap;
}
